<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DownloadComponent" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <DownloadComponent defaultAssembly="OcrServices">
    <components>
      <component name="File" type="OcrServices.DownloadByFile, OcrServices" service="OcrServices.IDownload" />
      <component name="Cloud" type="OcrServices.DownloadByCloud, OcrServices" service="OcrServices.IDownload" />
      <component name="Define" type="OcrServices.DataAccess.CallDataBaseByDefine, OcrServices" service="OcrServices.DataAccess.ICallDataBase" />
      <component name="IvInput" type="OcrServices.DataAccess.CallDataBaseIvInput, OcrServices" service="OcrServices.DataAccess.ICallDataBase" />
      <component name="HpList" type="OcrServices.DataAccess.CallDataBaseHospitalList, OcrServices" service="OcrServices.DataAccess.ICallDataBase" />
      
      <component name="IRpcProxy" type="OcrServices.XmlRpcProxy, OcrServices" service="OcrServices.IRpcProxy" />
    </components>
  </DownloadComponent>


</configuration>